@import url('https://fonts.googleapis.com/css?family=Roboto');

.login-title{
	  color: #de2728;
	  font-family: 'Roboto', sans-serif;
	  font-size: 24px;
	  margin: 10px 0px;
	}
	.bold{
		font-weight: bold;
		text-transform: uppercase;
}

.title-container{
	text-align: center;
}