.project-list-breadcrumb{
	margin-top:18px;
	list-style:none;
	.breadcrumb-list{
		display:inline-block;
		padding-left:2px;
		font-size: 11px;
	}
}

.bold-font{
	font-weight:bold;
	font-family: 'SapientSansRegular';
}

@media (max-width: 768px) {
	.project-list-breadcrumb{
		display: none;
	}
}