.cp-radio-button {
	 .cp-heading{
        font-weight: normal;
    	font-size: 11px;
    	font-family: 'SapientSansRegular';
    	color: grey;
    	margin:0 0 0 20px ;
    	padding: 8px 0 12px 0;
    }
}