.logout-container{
	height:50px;
	display: inline-block;
	vertical-align: top;
	min-width: 6%;
	padding:15px 1.4% 15px 2%;
	cursor:pointer;
	
}

@media (max-width:992px){
	.logout-container{
		padding:15px 1.4% 15px 0;

	}
}