 $header-color:#fff;

 .user-profile-container {
     background-color: $header-color;
     height: 50px;
 }
 
 @media (max-width:992px) {
     .pseudo {
         display: none;
     }
     .mobile-header {
         display: block;
     }
     .user-details {
         display: none;
     }
 }
