.cp-staffing-form{
	display:none;
	padding-top: 50px;
	min-height:260px;

	.row{
		margin-left: 0px;
  		margin-right: 0px;
	}
	.cp-staffing-form-elements{
		position: relative;
		
		.cp-close-icon{
			background-color: #DC292F;
			height: 40px;
			width: 40px;
			position: absolute;
			top: -40px;
			left: 0px;
            cursor: pointer;

		} 

		.ion-close-round{
			color: white;
			padding-top: 10px;
			padding-left: 14px;
		} 
	}
	

}

.cp-add-more-wrapper {
	text-align: center;
}

.cp-visible{
	display:block;
	transition: opacity 1s ease-out;
}

.cp-not-visible{
	display:none;
	transition: opacity 1s ease-out;
}	

.cp-form-content{
	width:776px;
}

.cp-add-more-btn{
	    position: relative;
   		margin-top: 40px;
  	 	margin-left: 0px; 
   		float: none;
    	right: 0;
    	background: #3A3A3A;
  	}

.cp-add-more-wrapper {
	text-align: center;
}

.cp-add-more-btn:before {
    padding-right: 10px;
}

.cp-no-user-text{
	font-size: 50px;
    color: #bfbebe;
    text-align: center;
    }

table.cp-staffing-table { 
	width: 100%; 
	border-collapse: collapse;
	border:1px solid  #eee; 
	font-family: 'SapientSansregular';

	
	

	th { 
		background: #bbdae2; 
		color: #323A3C; 
		font-weight: bold;

	}

	td{
		word-break: break-word;
	}
	td, th { 
		padding: 6px; 
		text-align: left;
		border-bottom: 1px solid #ccc;
    	border-top: 1px solid #ccc;
    	border-collapse: collapse;

	}

}




@media only screen and (max-width: 767px){

	table.cp-staffing-table {
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}

		tbody{
			width: 100%;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		/* Zebra striping */
		tr:nth-of-type(even) { 
		background: #BCDAE4; 
		}

		tr { border: 1px solid #ccc; }

		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%;
			word-break: break-word;

		}

		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}

		td:nth-of-type(1):before { content: "oid"; }
		td:nth-of-type(2):before { content: "Name"; }
		td:nth-of-type(3):before { content: "Title"; }
		td:nth-of-type(4):before { content: "Role"; }
		td:nth-of-type(5):before { content: "Alloc Percent"; }
		td:nth-of-type(6):before { content: "Start Date"; }
		td:nth-of-type(7):before { content: "End Date"; }
		td:nth-of-type(8):before { content: "Skills"; }
		td:nth-of-type(9):before { content: "Morale"; }
	}

	.cp-no-user-text{
			font-size:25px;
	}

	.cp-add-more-btn{
			  position: relative;
    margin-top: 20px;
    width: 100%;
   /*  margin-bottom: 54px; */
       margin-left: 0px;
    margin-bottom: 0px;

}
}



.cp-staffing-tab{
	    margin: auto;
}




	