$main-bg-color: #eeeeee;


.login-container{
	width: 220px;
	position:absolute;
    top: 50%;
    left:50%;
    margin-top: -160px;
    margin-left: -110px;
}
body {
  background-color: $main-bg-color;
  }

