@import "../fonts/font-face.scss";

$custom-btn: #2DAEDB;
$white:#fff;
$black:#000;

.stro-container {
  width: 300%;
  margin-left: -100% ;
  position: relative;
  height: 65px;
}

.stro-container.transition-back {
  transition: all .4s ease;
}

.stro-left,
.stro-content,
.stro-right {
  position: relative;
  display: inline-block;
  width: 33.33333333%;
  height: 100%;
  vertical-align: top;
}

.stro-button {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stro-button span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  color:$white;
  font-size: 14px;
  font-family: "SapientSansRegular"; 
}
.view span{
   background-color:$custom-btn;
  padding: 22px 0px 23px 0px;
  a{
   color:$white;
  font-size: 14px;
  font-family: "SapientSansRegular"; 
  }
}

.edit span{
   background-color: $black;
  padding: 22px 0px 23px 0px;
  a{
   color:$white;
  font-size: 14px;
  font-family: "SapientSansRegular"; 
  }
}
.stro-button.stro-right-button {
  left: 0;
}
.stro-button.stro-right-button span {
  left: 0;
  text-align: center;
}
.stro-button.stro-left-button {
  right: 0;
}
.stro-button.stro-left-button span {
  right: 0;
  text-align: center;
}

.stro-container.show-right-buttons,
.stro-container.show-left-buttons,
.stro-container.show-right-buttons .stro-button,
.stro-container.show-left-buttons .stro-button{
  transition: all .3s ease;
}