.login-button{
  box-sizing:border-box;
  color:white;
  font-weight:bold;
  background-color: #1daeea;
  width: 220px;
  height: 40px;
  border: none;
  margin-top: 10px;
  opacity:0.5; 
  &:focus {
    background-color: #1a9cd2;
  } 
}
.button-enable{
	cursor:pointer;
  opacity:1; 
}

.login-error-msg{
	color: red;
	font-size: 12px;
	font-style: italic;
  
}


.hide {
	visibility:hidden;
}
.button-container {
	margin-top : 10px;
  text-align: center;
}